table tr td {
    border: none !important;
    border-collapse: collapse;
    border-style: none;
    border-collapse:collapse; 
}

.inLine {
    align-items: center; 
    float: left;
  }

.imgs{
    float: left;
    padding: 5px;
}